
<html>
    <head>
    <link href="StyleSheet.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <img src="todo.png" width="400" height="200"/>
        <h2>
             <!--35.244.107.37-->
            <a href="http://localhost:8080/newtask">Add Task</a><br>
            <a href="http://localhost:8080/listtasks">List Task</a><br>
            <a href="http://localhost:8080/deletetask">Delete Task</a><br>
            <a href="http://localhost:8080/updatetask">Update Task</a><br>
            <a href="http://localhost:8080/deleteOldComplete">Delete All</a><br>
        </h2>
    </body>
</html>