<html>
    <head>
        <link href="StyleSheet.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>
            <!--35.244.107.37-->
            <a href="http://35.189.56.217:8080">Home</a><br>
            <a href="http://35.189.56.217:8080/newtask">Add Task</a><br>
            <a href="http://35.189.56.217:8080/listtasks">List Task</a><br>
            <a href="http://35.189.56.217:8080/deletetask">Delete Task</a><br>
            <a href="http://35.189.56.217:8080/updatetask">Update Task</a><br>
            <a href="http://35.189.56.217:8080/deleteComplete">Delete Completed Tasks</a><br>
            <a href="http://35.189.56.217:8080/deleteOldComplete">Delete Old and Completed Task</a><br>
            <a href="http://35.189.56.217:8080/listdevelopers">List Developer</a><br>
            <a href="http://35.189.56.217:8080/oldfirstname/newfirstname">Update Developer First Name</a><br>
        </p>
        <h1>
            Add a Developer
        </h1>
        <form action="/adddeveloper" method="POST">
            First Name <input type="text" name="firstName"/><br>
            Last Name <input type="text" name="lastName"/><br>
            Level <select name="level">
                <option>Beginner</option>
                <option>Expert</option>
                </select>
                <br>
            State <input type="text" name="state"/><br>
            Suburb <input type="text" name="suburb"/><br>
            Street <input type="text" name="street"/><br>
            Unit <input type="text" name="unit"/><br>
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>