
<html>
    <head>
    <link href="StyleSheet.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>
            <!--35.244.107.37-->
            <a href="http://35.189.56.217:8080">Home</a><br>
            <a href="http://35.189.56.217:8080/newtask">Add Task</a><br>
            <a href="http://35.189.56.217:8080/listtasks">List Task</a><br>
            <a href="http://35.189.56.217:8080/updatetask">Update Task</a><br>
            <a href="http://35.189.56.217:8080/deletetask">Delete Task</a><br>
            <a href="http://35.189.56.217:8080/deleteComplete">Delete Completed Tasks</a><br>
            <a href="http://35.189.56.217:8080/deletetask">Delete Old and Completed Task</a><br>
            <a href="http://35.189.56.217:8080/newdeveloper">Add Developer</a><br>
            <a href="http://35.189.56.217:8080/listdevelopers">List Developer</a><br>
        </p>
        <h1>Update Developer First Name</h1>
        <form action="/updateDeveloper" method="POST">
            Developer Old First Name <input type="text" name="oldName"/><br>
            Developer New First Name <input type="text" name="newName"/><br>
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>