
<html>
        <head>
        <link href="StyleSheet.css" rel="stylesheet" type="text/css">
        </head>
        <body>
            <p>
                <!--35.244.107.37-->
                <a href="http://localhost:8080">Home</a><br>
                <a href="http://localhost:8080/newtask">Add Task</a><br>
                <a href="http://localhost:8080/listtasks">List Task</a><br>
                <a href="http://localhost:8080/deleteComplete">Delete Completed Tasks</a><br>
                <a href="http://localhost:8080/deletetask">Delete Old and Completed Task</a>
            </p>
            <h1>Update a Task Status</h1>
            <form action="/update" method="POST">
                Task ID <input type="text" name="taskId"/><br>
                Task Status <select name="taskStat">
                        <option>InProgress</option>
                        <option>Complete</option>
                        </select>
                <br><br>
                <button>Submit</button>
            </form>
        </body>
    </html>